<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>

    
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1213">
        <arg key="level" value="DEBUG"/>
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="main"/>
    </root>
    <logger name="main" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="main"/>
    </logger>
    <appender name="main" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="GrabberLog.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %C - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <!--<connectionStrings>
    <add name="WeatherDBEntities" connectionString="metadata=res://*/Weather.csdl|res://*/Weather.ssdl|res://*/Weather.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=WeatherDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-3.11.2.0" newVersion="3.11.2.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0"/>

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
